version: "3.8"
services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    restart: unless-stopped
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock # allow Jenkins to use Docker daemon
      - /usr/bin/docker:/usr/bin/docker # optional (if docker cli needed)
volumes:
  jenkins_home:
